<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener Microservice</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>
      URL Shortener Microservice
    </h1>
    <h2 class="error">
      Please enter a valid URL!
    </h2>
    <h2>
      Instructions
    </h2>
    <p>
      Enter a URL as a parameter to https://glen-almanac.glitch.me/new/:url
    </p>
    <h2>
      Example Creation Usage
    </h2>
    <p><span class="code">https://glen-almanac.glitch.me/new/http://www.example.com</span>
    </p>
    <h2>
      Example Creation Output
    </h2>
      <p>
        <span class="code">{'original_url': 'http://www.example.com,' 'short_url': 'https://glen-almanac.glitch.me/1'}</span>
      </p>
    <h2>
      Usage
    </h2>
    <p>
      <span class="code">https://glen-almanac.glitch.me/1</span>
    </p>
    <h2>
      Will Redirect To
    </h2>
    <p>
      <span class="code">http://www.example.com</span>
    </p>
  </body>
</html>